PORT=
DATABASE_URL=
JWT_SECRET=
ENCRYPTION_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_SENDER=
EMAIL_NAME=
RESTAURANT_TIMEZONE=Europe/Paris
MEDIA_SERVER_URL=
CAROUSEL_URL=
PRINTER_SERVER_URL=
BASE_URL=
MARKETPAY_CLIENT_ID=
MARKETPAY_MERCHANT_ID=
MARKETPAY_DEBUG=
